#<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS</title>
    <link rel="stylesheet" href="../css/style.css">
</head> 
<body>
    <div class ="container">
        <header>
            <nav class="menu">
                <ul>
                    <li><a href = "../index.html">inicio</a></li>
                    <li><a href = "#">productos</a></li>
                    <li><a href = "servicio.html">servicio</a><li>
                    <li><a href = "contacto.html">contactos</a></li>

                </ul>
        
        </header>
        <main>
            <img src="../img/img_productos.jpg.jpeg" alt="">

        <p>esto es un parrafo dentro un divisor</p>
        <p>
             Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              A sapiente laborum atque accusamus cum eligendi distinctio 
              eveniet porro nam ducimus iusto nihil non laboriosam, et consectetur, 
              ut fugiat doloremque similique.

        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius porro dolor, 
        dignissimos laudantium consequatur necessitatibus repudiandae ullam, 
        doloribus doloremque modi quod sed repellat sint   
        aliquid officia veritatis ab alias vel!      
        </p>


    </main>

    <footer>
        <p>pie de mi pagina wed</p>
    </footer>
        </div>
</body>
</html>